@model GET_Biblioteka.Models.KnjigeViewModel

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Layout";
}
<h1>Sve knjige</h1>

<p>
    <a asp-action="Create">Dodaj novu knjigu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Knjiga</th>
            <th>Pisac</th>
            <th>Dostupno primeraka</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Knjige)
        {
            <tr>
                <td>@item.Naziv</td>
                <td>@item.Pisac</td>
                <td>@item.Kolicina</td>
            </tr>
        }
    </tbody>
</table>
