@model GET_Biblioteka.Models.IznajmljeneKnjigeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Pozajmljene knjige</h1>

<table class="table">
    <thead>
        <tr>
            <th>Naziv knjige</th>
            <th>Korisnik</th>
            <th>Rok za vracanje</th>
            <th>Vrati knjigu</th>
        </tr>
    </thead>
    <tbody>
        @* Prikaz podataka iz liste ViewModel iznajmljeneKnjige *@
        @{if (Model.iznajmljeneKnjige != null)
            { 
                @foreach (var item in Model.iznajmljeneKnjige)
                {
                    <tr>
                        <td>@item.NazivKnjige</td>
                        <td>@item.UserName</td>
                        <td>@item.DatumVracanja.ToString("dd/MMMM/yyyy")</td>
                        <td>
                            <form asp-controller="IznajmljenaKnjiga" asp-action="ReturnBook" method="post">
                             <input type="hidden" id="issuedBookId" name="issuedBookId" value="@item.IznajmljenaKnjigaID" />
                             <button class="btn btn-primary" type="submit">Vrati knjigu</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalRhub.js"></script>
