@model GET_Biblioteka.Models.IznajmljeneKnjigeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Iznajmljene knjige</h1>

<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>User name</th>
            <th>Due date</th>
            <th>Mark as returned</th>
        </tr>
    </thead>
    <tbody>
        @{if (Model.iznajmljeneKnjige != null)
            { 
                @foreach (var item in Model.iznajmljeneKnjige)
                {
                    <tr>
                        <td>@item.NazivKnjige</td>
                        <td>@item.UserName</td>
                        <td>@item.DatumVracanja.ToString("dd/MMMM/yyyy")</td>
                        <td>
                            <form asp-controller="IznajmljenaKnjiga" asp-action="ReturnBook" method="post">
                             <input type="hidden" id="issuedBookId" name="issuedBookId" value="@item.IznajmljenaKnjigaID" />
                             <button class="btn btn-primary" type="submit">Vrati knjigu</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
